@font-face {
  font-family: 'PretendardVariable';
  src: url('./assets/fonts/PretendardVariable.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
button,
input {
  font-family: 'PretendardVariable', sans-serif;
}
body {
  background-image: url('./assets/images/background.png');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.App {
  max-width: 428px;
  margin: 0 auto;
}
